
@{
    ViewBag.Title = "AboutCafeteria";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutCafeteria</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        
        body {
            
            background-color: black;
            background: url("../../Photo/about1.jpg") no-repeat center center fixed;
            background-size: cover;
        }

        h2 {
            color: rgb(4, 114, 37);
        }

        
    </style>
</head>
<body>
    
    <div class="container">
        <br /><br />
        <h2>About Our Cafeteria</h2>
        <hr />
        <p class="text-info">
            A full-fledged cafeteria caters to all the three major meals (breakfast, lunch and dinner) as well
            as snacks for the residents and staff at Mindtree Kalinga Campus. The Cafeteria caters both
            vegetarian and non-vegetarian food.  Both quality and quantity is good.
        </p>
        <p class="text-primary">
            Service Timings (on all days)
        </p>
        <p class="text-primary"> Breakfast : 07.30 AM to 10:00 AM</p>
        <p class="text-primary"> Lunch : 12:15 PM to 02:30 PM</p>
        <p class="text-primary"> Dinner : 07:00 PM to 09:30 PM</p>
        <p class="text-primary">
            Main Cafeteria: 8:00 AM to 7:00 PM
        </p>
    </div>
    

</body>
</html>



