
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
    <style>



        body {
            
            background-color: black;
            background: url("../../Photo/contact2.jpg") no-repeat center center fixed;
            background-size: cover;
        }

        h2 {
            color: rgb(4, 114, 37);
        }

        .div1{
            position: center;
        }

        
    </style>
</head>
<body>
    <br /><br />
    <div class="div1">
        <h2 align="center"> Developers of this Cafeteria Project:</h2>
        <hr />
        <div>
            <center>
                <table cellspacing="40">
                    <tr>
                        <td>
                            <img src="../../Photo/Profile.jpg" width="150" height="150">
                        </td>
                        <td>
                            <img src="../../Photo/Rajbala.jpg" width="150" height="150">
                        </td>
                        <td>
                            <img src="../../Photo/Murali.png" width="150" height="150">
                        </td>
                        <td>
                            <img src="../../Photo/Dhana.jpg" width="150" height="150">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <center>
                                <p>
                                    Vinutha H
                                </p>
                                <p>
                                    M1053615
                                </p>
                            </center>
                        </td>
                        <td>
                            <center>
                                <p>
                                    Rajbala
                                </p>
                                <p>
                                    M1053678
                                </p>
                            </center>
                        </td>
                        <td>
                            <center>
                                <p>
                                    Muralidhar
                                </p>
                                <p>
                                    M1053526
                                </p>
                            </center>
                        </td>
                        <td>
                            <center>
                                <p>
                                    Dhanalakshmi
                                </p>
                                <p>
                                    M1053694
                                </p>
                            </center>
                        </td>
                    </tr>

                </table>
            </center>
        </div>
    </div>
    
</body>
</html>

