
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}



<html>
<head>
    <style>
        body {
            background-color: black;
            background: url("../../Photo/about1.jpg") no-repeat center center fixed;
            background-size: cover;
        }
        h2{
            color:forestgreen;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm())
    {
        <br /><br /><br />
    <div align="center">
        <h2>ForgotPassword</h2>
        <hr />
        <div class="text-success">
            @ViewBag.Message
        </div>
        <div>
            <label class="control-label">Email ID</label>
            @Html.TextBox("EmailID")
        </div>
        <br />
        <div class="form-group">
            <div>
                <input type="submit" value="Submit" class="btn btn-success" />
            </div>
        </div>
    </div>
    }
</body>
</html>
